Data source : https://datacatalog.worldbank.org/search/dataset/0037651

In [7]:
import pandas as pd

In [8]:
worldIndecatorsData= pd.read_csv("C:\\Users\\ACER\\Downloads\\ESG_CSV\\ESGData.csv")
worldIndecatorsData

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.705717,86.942778,87.228705,87.390856,87.617862,87.798740,87.948264,88.092536,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.832276,89.053852,89.539016,90.662754,89.176939,90.352802,90.635050,90.845661,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.042207,6.124223,5.261940,6.237798,8.177585,7.234436,4.598506,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.084317,0.096624,0.092883,0.102660,0.057120,0.064516,0.075686,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,30.981414,30.982663,31.007054,31.018001,31.042466,...,39.834421,39.872575,39.937814,39.984452,39.969738,39.907031,39.973290,39.970742,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.214542,27.214585,27.214585,27.214747,27.214747,27.214747,27.214747,NaN
16965,Zimbabwe,ZWE,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16966,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,7.945000,NaN
16967,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16968,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.256889,-1.166087,-1.178460,-1.195905,-1.136798,-1.163669,-1.113408,-1.135830,-1.102206,NaN

In [9]:
worldIndecatorsData['Indicator Name'].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Agricultural land (% of land area)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annualized average growth rate in per capita real survey mean consumption or income, total population (%)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Children in employment, total (% of children ages 7-14)',
       'CO2 emissions (metric tons per capita)', 'Coastal protection',
       'Control of Corruption: Estimate', 'Cooling Degree Days',
       'Economic and Social Rights Performance Score',
       'Electricity production from coal sources (% of total)',
       'Energy imports, net (% of energy use)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Energy use (kg of oil equivalent per capita)',
       'Fertility rate, total (births per woman)',
       'Food production index (2014-2016 = 100)',
       'Forest area (% of land area)',
       'Fossil fuel energy consumption (% of total)',
       'GDP growth (annual %)',
       'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
       'Gini index', 'Government Effectiveness: Estimate',
       'Government expenditure on education, total (% of government expenditure)',
       'Heat Index 35', 'Heating Degree Days',
       'Hospital beds (per 1,000 people)',
       'Income share held by lowest 20%',
       'Individuals using the Internet (% of population)',
       'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
       'Land Surface Temperature',
       'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mammal species, threatened',
       'Methane emissions (metric tons of CO2 equivalent per capita)',
       'Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
       'Patent applications, residents',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed sanitation services (% of population)',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'Political Stability and Absence of Violence/Terrorism: Estimate',
       'Population ages 65 and above (% of total population)',
       'Population density (people per sq. km of land area)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of undernourishment (% of population)',
       'Proportion of bodies of water with good ambient water quality',
       'Proportion of seats held by women in national parliaments (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Regulatory Quality: Estimate',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Research and development expenditure (% of GDP)',
       'Rule of Law: Estimate', 'School enrollment, primary (% gross)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Scientific and technical journal articles',
       'Standardised Precipitation-Evapotranspiration Index',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Tree Cover Loss (hectares)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Voice and Accountability: Estimate'], dtype=object)

In [10]:
worldIndecatorsData['Indicator Name'].nunique()

71

In [11]:
worldIndecatorsData['Country Code'].nunique()

239

In [12]:
worldIndecatorsData['Country Name'].nunique()

239

In [13]:
worldIndecatorsData['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World',
       'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'], dtype=object)

In [14]:
countries_to_exclude = ['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World']

worldIndecatorsData_filtered = worldIndecatorsData[~worldIndecatorsData['Country Name'].isin(countries_to_exclude)]

In [15]:
worldIndecatorsData_filtered

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
3266,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.700000,27.250000,28.500000,30.000000,31.100000,32.450000,33.800000,35.400000,NaN,NaN
3267,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,89.500000,71.500000,97.700000,97.700000,93.430878,97.700000,97.700000,97.700000,NaN,NaN
3268,Afghanistan,AFG,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.315571,0.290261,0.363282,0.350879,0.401053,0.370131,0.243668,0.335935,NaN,NaN
3269,Afghanistan,AFG,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.216609,0.232762,0.284781,0.229822,0.237615,0.269353,0.237958,0.317732,NaN,NaN
3270,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.878356,57.955016,58.031676,58.116002,58.123668,...,58.123668,58.123668,58.123668,58.123668,58.276988,58.276988,58.741548,58.741548,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.214542,27.214585,27.214585,27.214747,27.214747,27.214747,27.214747,NaN
16965,Zimbabwe,ZWE,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16966,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,7.945000,NaN
16967,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16968,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.256889,-1.166087,-1.178460,-1.195905,-1.136798,-1.163669,-1.113408,-1.135830,-1.102206,NaN

In [16]:
worldIndecatorsData_filtered['Indicator Name'].nunique()

71

In [17]:
nepal_data = worldIndecatorsData_filtered[worldIndecatorsData_filtered['Country Name'] == 'Nepal']

In [18]:
nepal_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
11928,Nepal,NPL,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.900000,28.050000,29.500000,30.600000,32.000000,32.900000,34.100000,35.200000,NaN,NaN
11929,Nepal,NPL,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.900000,82.014229,90.700000,86.624657,93.920000,89.900000,89.900000,89.900000,NaN,NaN
11930,Nepal,NPL,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001980,0.920110,1.015870,0.693824,0.418700,0.439588,0.514789,0.492993,NaN,NaN
11931,Nepal,NPL,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.918601,1.014157,0.691739,0.416380,0.437839,0.513311,0.490206,NaN,NaN
11932,Nepal,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,24.846154,24.846154,24.916084,24.846154,24.846154,...,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,Nepal,NPL,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.626104,23.626042,23.626042,23.626042,23.626042,23.626042,23.626042,NaN
11995,Nepal,NPL,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,...,1162.000000,579.000000,999.000000,2394.000000,1672.000000,2087.000000,2233.000000,2753.000000,NaN,NaN
11996,Nepal,NPL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.576000,10.512000,10.403000,10.660000,10.623000,10.599000,13.078000,12.223000,11.119000,NaN
11997,Nepal,NPL,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,25.213131,NaN,23.700000,23.732208,NaN,24.715612,NaN,NaN,NaN,NaN
11998,Nepal,NPL,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.430446,-0.415431,-0.251383,-0.199516,-0.129691,-0.150054,-0.084039,-0.084465,-0.049159,NaN

In [21]:
null_counts_per_row = nepal_data.isnull().sum(axis=1)
null_counts_per_row_sorted = null_counts_per_row.sort_values(ascending=False)

print(null_counts_per_row_sorted)

11981    64
11939    64
11966    63
11978    63
11952    63
         ..
11976     3
11977     3
11992     2
11968     2
11951     2
Length: 71, dtype: int64

In [24]:
nepal_data

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
11928,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.900000,28.050000,29.500000,30.600000,32.000000,32.900000,34.100000,35.200000,NaN,NaN
11929,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.900000,82.014229,90.700000,86.624657,93.920000,89.900000,89.900000,89.900000,NaN,NaN
11930,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001980,0.920110,1.015870,0.693824,0.418700,0.439588,0.514789,0.492993,NaN,NaN
11931,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.918601,1.014157,0.691739,0.416380,0.437839,0.513311,0.490206,NaN,NaN
11932,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,24.846154,24.846154,24.916084,24.846154,24.846154,24.846154,24.944056,...,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,28.747820,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11994,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.626104,23.626042,23.626042,23.626042,23.626042,23.626042,23.626042,NaN
11995,Tree Cover Loss (hectares),AG.LND.FRLS.HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1162.000000,579.000000,999.000000,2394.000000,1672.000000,2087.000000,2233.000000,2753.000000,NaN,NaN
11996,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.576000,10.512000,10.403000,10.660000,10.623000,10.599000,13.078000,12.223000,11.119000,NaN
11997,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.213131,NaN,23.700000,23.732208,NaN,24.715612,NaN,NaN,NaN,NaN
11998,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.430446,-0.415431,-0.251383,-0.199516,-0.129691,-0.150054,-0.084039,-0.084465,-0.049159,NaN

In [25]:
nepal_data.columns

Index(['Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', 'Unnamed: 67'],
      dtype='object')

In [27]:

columns_to_melt = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
                   '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
                   '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
                   '2020', '2021', '2022'] 


nepal_data = nepal_data.melt(id_vars=['Indicator Name', 'Indicator Code'], value_vars=columns_to_melt, var_name='year', value_name='amount')


print(nepal_data)

                                         Indicator Name     Indicator Code  \
0     Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1               Access to electricity (% of population)     EG.ELC.ACCS.ZS
2     Adjusted savings: natural resources depletion ...  NY.ADJ.DRES.GN.ZS
3     Adjusted savings: net forest depletion (% of GNI)  NY.ADJ.DFOR.GN.ZS
4                    Agricultural land (% of land area)     AG.LND.AGRI.ZS
...                                                 ...                ...
3048  Terrestrial and marine protected areas (% of t...     ER.PTD.TOTL.ZS
3049                         Tree Cover Loss (hectares)     AG.LND.FRLS.HA
3050  Unemployment, total (% of total labor force) (...     SL.UEM.TOTL.ZS
3051  Unmet need for contraception (% of married wom...        SP.UWT.TFRT
3052                 Voice and Accountability: Estimate             VA.EST

      year     amount
0     1960        NaN
1     1960        NaN
2     1960        NaN
3     1960        NaN
4     1960        NaN
...    ...        ...
3048  2022  23.626042
3049  2022        NaN
3050  2022  11.119000
3051  2022        NaN
3052  2022  -0.049159

[3053 rows x 4 columns]

In [28]:
nepal_data

,Indicator Name,Indicator Code,year,amount
0,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...
3048,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2022,23.626042
3049,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2022,NaN
3050,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2022,11.119000
3051,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2022,NaN
3052,Voice and Accountability: Estimate,VA.EST,2022,-0.049159

In [29]:
nepal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3053 entries, 0 to 3052
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Indicator Name  3053 non-null   object
 1   Indicator Code  3053 non-null   object
 2   year            3053 non-null   object
 3   amount          1454 non-null   float64
dtypes: float64(1), object(3)
memory usage: 95.5+ KB

In [30]:
nepal_data.columns

Index(['Indicator Name', 'Indicator Code', 'year', 'amount'], dtype='object')

In [31]:
# Specify the file path and name for the CSV file
csv_file_path = 'D:/business analysist class/nepal_data.csv'

# Save the DataFrame to a CSV file
nepal_data.to_csv(csv_file_path, index=False)

In [35]:
nepal_data

,Indicator Name,Indicator Code,year,amount
0,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...
3048,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2022,23.626042
3049,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2022,NaN
3050,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2022,11.119000
3051,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2022,NaN
3052,Voice and Accountability: Estimate,VA.EST,2022,-0.049159